form h5{
    color: #75868f;
    font-family: "Poppins","Open Sans",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 100;
    font-size: 0.80rem;
    
}
.link-doc {
    font-size: 1.4rem !important;
    color: #6C1F2F;
}
.bg-search{
    -webkit-box-shadow: 1px 1px 25px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 25px -3px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 25px -3px rgba(0,0,0,0.75);
}
.mainnav__menu .has-sub>.mininav-toggle.collapsed::after{
    border-style: unset;
}
.fa{
    width: 20px;
    text-align: center;
}
#perfilmy{
    box-shadow: none !important;
}
.dataTables_scrollBody::-webkit-scrollbar {
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
/* Ocultar scroll */
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.dataTables_scrollBody::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
.dataTables_scrollBody::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.dataTables_scrollBody::-webkit-scrollbar-track:hover,
.dataTables_scrollBody::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.dataTables_wrapper .row:nth-child(3) div:nth-child(2){
width: 100%;
}
.pagination{
    justify-content: center !important;
}
.dataTables_wrapper .row:nth-child(1){
display: none;
}
tbody,  tfoot, th, thead {
    border-color: white !important;
    border-style: solid !important;
    border-width: 0 !important;

    
}
.table{
    padding-bottom: 0% !important;
}
